<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class ="navbar-logo hidden-xs" ng-click="ctrl.displayPage(properties.homePageToken)" href="../{{properties.homePageToken}}/"><img src="{{properties.imgUrl}}" width="20px"></a>
            <a class ="navbar-brand visible-xs" ng-click="ctrl.displayPage(properties.homePageToken)" href="../{{properties.homePageToken}}/"><img src="{{properties.imgUrl}}" width="20px"></a>
            <a class="navbar-brand visible-xs" ng-click="ctrl.displayPage(properties.homePageToken)" href="../{{properties.homePageToken}}/"><font size=3>{{ctrl.applicationName}}</font></a>
            <button type="button" ng-init="navCollapsed = true" ng-click="ctrl.openMenu()" class="navbar-toggle hidden-xs">
                <font color="#fff"><span class="glyphicon glyphicon-option-vertical"></span></font>
            </button>
            <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle visible-xs">
                <font color="#fff"><span class="glyphicon glyphicon-option-vertical"></span></font>
            </button>
        </div>
        <div collapse="navCollapsed" class="collapse navbar-responsive-collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:ctrl.pageToken===menu.applicationPageId.token}" ng-repeat="menu in ctrl.filterChildren(-1)" dropdown>
                    <a ng-if="!ctrl.isParentMenu(menu)" ng-click="ctrl.displayPage(menu.applicationPageId.token)" href="../{{menu.applicationPageId.token}}/"><span class="maxTitleWidth">{{menu.displayName | uiTranslate}}</span></a>
                    <a ng-if="ctrl.isParentMenu(menu)" href="javascript:void(0);" dropdown-toggle>{{menu.displayName | uiTranslate}}<span class="caret"></span></a>
                    <ul ng-if="ctrl.isParentMenu(menu)"  class="dropdown-menu">
                        <li ng-repeat="childMenu in ctrl.filterChildren(menu.id)">
                            <a ng-click="ctrl.displayPage(childMenu.applicationPageId.token)" href="../{{childMenu.applicationPageId.token}}/">{{childMenu.displayName | uiTranslate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right hidden-xs">
                <li class="hidden-xs hidden-sm">
                    <a ng-click="ctrl.displayPage(properties.homePageToken)" href="../{{properties.homePageToken}}/">{{ctrl.applicationName}}</a>
                </li>
                <li>
                    <a ng-click="ctrl.openMenu()" class="btn btn-link btn-account"><span class="glyphicon glyphicon-option-vertical"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav visible-xs">
                <hr ng-show="ctrl.applicationMenuList.length>0"/>
                <li ng-if="!properties.isGuestUser"><a ng-click="ctrl.openCurrentSessionModal()" class="btn btn-link btn-account">
                    <img src='{{properties.userImageUrl}}' width="20px"> &nbsp{{properties.userName}}
                    </a>
                </li>
                <li ng-if="properties.isGuestUser"><a ng-href="{{properties.logoutURL}}" target="_self" class="btn btn-link btn-account"><span class="max-title-width" translate>Sign in</span></a></li>
                <li>
                    <a ng-click="ctrl.openAppSelectionModal()" class="btn btn-link btn-account">
                        <img src='{{properties.imgUrl}}' width="20px"> &nbspApplication</a>
                </li>
            </ul>
        </div>
    </div>
</div>